/*
* @Author: diaoqi
* @Date:   2017-03-15 10:29:15
* @Last Modified by:   diaoqi
* @Last Modified time: 2017-03-15 16:49:58
*/
html,body{
	margin: 0;
	font-family: Microsoft YaHei,Simsum,serif;
	background-color: #fff;
}
a,a:hover,a:active,a:focus{
	text-decoration: none;
}
html{
	font-size:62.5%; /* 10÷16=62.5% */
}
body{
	font-size:12px;
	font-size:1.2rem ; /* 12÷10=1.2 */
}
#bar1,#line1{
	margin-top: 20px;
	width: 800px;
	height: 350px;
}

























